nav {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #3a3a3a;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px -4px;
  .logo {
    height: 80px;
    display: flex;
    align-items: center;
    flex: 3 1 300px;
    a {
      margin: 0 1rem;
      color: white;
      font-size: 3rem;
    }
  }
  .menu {
    display: flex;
    flex: 7 1 300px;
    justify-content: flex-end;
    li {
      margin: 0 1rem;
      a {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.6);
        transition: all 0.3s ease;
        &:hover {
          color: rgba(255, 255, 255, 1);
          i {
            transform: scale(1.4);
          }
        }
        i {
          transition: all 0.3s ease;
        }
      }
    }
  }
  .fold {
    display: flex;
    p {
      color: white;
      font-size: 2rem;
      margin: 1rem 2rem;
      cursor: pointer;
      display: none;
    }
    .foldMenu {
      position: absolute;
      right: 0;
      top: 80px;
      display: flex;
      flex-direction: column;
      background-color: #262626;
      border-radius: 10px;
      li {
        margin: 0.75rem 1rem;
        a {
          font-size: 1.5rem;
          color: rgba(255, 255, 255, 0.6);
          transition: all 0.3s ease;
          &:hover {
            color: rgba(255, 255, 255, 1);
            i {
              transform: scale(1.4);
            }
          }
          i {
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
.active {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 10px;
  i {
    transform: scale(1.4);
    color: #f15764;
  }
}

@media screen and (max-width: 1150px) {
  nav {
    .logo {
      height: 40px;
      a {
        font-size: 2.5rem;
      }
    }
    .menu {
      display: none;
    }
    .fold {
      p {
        display: block;
      }
      .foldMenu {
        top: 77px;
      }
    }
  }
}
