.search {
  position: fixed;
  top: 5px;
  left: 50%;
  translate: -50%;
  z-index: 6;
  margin: 1rem 0;
  width: 25%;
  display: flex;
  justify-content: center;
  .searchContainer {
    background-color: aquamarine;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    input {
      font-size: 1.2rem;
      width: 400px;
      height: 30px;
      border: none;
      outline: none;
      background-color: aquamarine;
      &::placeholder {
        text-align: center;
        font-size: 1.2rem;
        color: black;
      }
    }
    button {
      width: 30px;
      height: 30px;
      border: none;
      background-color: aquamarine;
      cursor: pointer;
    }
  }
}
