* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  position: relative;
  background-color: #f0f0f0;
}
.App .home {
  min-height: 83vh;
}

.loading {
  text-align: center;
  margin: 1rem 0;
}
.loading button {
  background-color: #82a0c2;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}
.loading button:hover {
  background-color: #6383a7;
  border: 1px solid #f7a992;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #3a3a3a;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px -4px;
}
nav .logo {
  height: 80px;
  display: flex;
  align-items: center;
  flex: 3 1 300px;
}
nav .logo a {
  margin: 0 1rem;
  color: white;
  font-size: 3rem;
}
nav .menu {
  display: flex;
  flex: 7 1 300px;
  justify-content: flex-end;
}
nav .menu li {
  margin: 0 1rem;
}
nav .menu li a {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
}
nav .menu li a:hover {
  color: rgb(255, 255, 255);
}
nav .menu li a:hover i {
  transform: scale(1.4);
}
nav .menu li a i {
  transition: all 0.3s ease;
}
nav .fold {
  display: flex;
}
nav .fold p {
  color: white;
  font-size: 2rem;
  margin: 1rem 2rem;
  cursor: pointer;
  display: none;
}
nav .fold .foldMenu {
  position: absolute;
  right: 0;
  top: 80px;
  display: flex;
  flex-direction: column;
  background-color: #262626;
  border-radius: 10px;
}
nav .fold .foldMenu li {
  margin: 0.75rem 1rem;
}
nav .fold .foldMenu li a {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
}
nav .fold .foldMenu li a:hover {
  color: rgb(255, 255, 255);
}
nav .fold .foldMenu li a:hover i {
  transform: scale(1.4);
}
nav .fold .foldMenu li a i {
  transition: all 0.3s ease;
}

.active {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 10px;
}
.active i {
  transform: scale(1.4);
  color: #f15764;
}

@media screen and (max-width: 1150px) {
  nav .logo {
    height: 40px;
  }
  nav .logo a {
    font-size: 2.5rem;
  }
  nav .menu {
    display: none;
  }
  nav .fold p {
    display: block;
  }
  nav .fold .foldMenu {
    top: 77px;
  }
}
footer {
  height: 80px;
  background-color: #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  text-align: center;
  font-size: 1.5rem;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pictures .picture {
  margin: 1rem;
  width: 340px;
}
.pictures .picture p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: black;
}
.pictures .picture p i {
  color: #316eae;
}
.pictures .picture p a {
  color: #8f9962;
  transition: all 0.3s ease;
}
.pictures .picture p a:hover {
  color: #6ae268;
}
.pictures .picture .container {
  width: 340px;
  height: 340px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
.pictures .picture .container .love {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 4;
  font-size: 1.5rem;
  cursor: pointer;
}
.pictures .picture .container .love i {
  color: white;
  transition: all 0.3s ease;
}
.pictures .picture .container .love i:hover {
  color: red;
}
.pictures .picture .container a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.pictures .picture .container a img:hover {
  transform: scale(1.3);
}

.search {
  position: fixed;
  top: 5px;
  left: 50%;
  translate: -50%;
  z-index: 6;
  margin: 1rem 0;
  width: 480px;
  display: flex;
  justify-content: center;
}
.search .searchContainer {
  background-color: #adfedc;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.search .searchContainer input {
  font-size: 1.2rem;
  width: 400px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #adfedc;
}
.search .searchContainer input::-moz-placeholder {
  text-align: center;
  font-size: 1.2rem;
  color: black;
}
.search .searchContainer input:-ms-input-placeholder {
  text-align: center;
  font-size: 1.2rem;
  color: black;
}
.search .searchContainer input::placeholder {
  text-align: center;
  font-size: 1.2rem;
  color: black;
}
.search .searchContainer button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #adfedc;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .search {
    top: auto;
    bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  .search {
    width: 350px;
  }
}
.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 83vh;
}
.login .loginContainer {
  background-color: #5b5b5b;
  width: 480px;
  height: 580px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .loginContainer .loginbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  height: 75%;
}
.login .loginContainer .loginbox .logo {
  font-size: 3.5rem;
  margin-top: 1rem;
  color: #c4e1ff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.login .loginContainer .loginbox .logo:hover {
  color: #66b3ff;
}
.login .loginContainer .loginbox h1 {
  font-size: 2.5rem;
}
.login .loginContainer .loginbox div {
  width: 70%;
  margin: 0.5rem 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.login .loginContainer .loginbox div input {
  margin-top: 0.5rem;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: none;
}
.login .loginContainer .loginbox div input::-moz-placeholder {
  text-align: center;
  font-size: 1.2rem;
}
.login .loginContainer .loginbox div input:-ms-input-placeholder {
  text-align: center;
  font-size: 1.2rem;
}
.login .loginContainer .loginbox div input::placeholder {
  text-align: center;
  font-size: 1.2rem;
}
.login .loginContainer .loginbox button {
  margin: 1.5rem 0;
  padding: 0.25rem 2rem;
  border-radius: 12px;
  border: none;
  background-color: #00caca;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.login .loginContainer .loginbox button:hover {
  background-color: #00ffff;
  color: black;
}
.login .loginContainer p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: white;
}
.login .loginContainer p a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.login .loginContainer p a:hover {
  color: #ff0000;
}
.login .loginContainer .message {
  text-align: center;
}
.login .loginContainer .message p {
  font-size: 2rem;
  color: #ff0000;
}

@media screen and (max-width: 500px) {
  .login {
    background-color: #5b5b5b;
  }
  .login .loginContainer .loginbox .inputbox {
    width: 100%;
  }
}
.register {
  width: 100%;
  min-height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register .registerContainer {
  background-color: #5b5b5b;
  width: 480px;
  height: 580px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register .registerContainer .registerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  height: 75%;
}
.register .registerContainer .registerbox h1 {
  font-size: 2.5rem;
  margin: 2rem 0;
}
.register .registerContainer .registerbox h1 a {
  font-size: 2.8rem;
  color: #c4e1ff;
  text-decoration: none;
}
.register .registerContainer .registerbox h1 a:hover {
  color: #66b3ff;
}
.register .registerContainer .registerbox .inputbox {
  width: 80%;
  margin: 0.5rem 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.register .registerContainer .registerbox .inputbox div {
  flex: 1 1 200px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.register .registerContainer .registerbox .inputbox div input {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  border: none;
}
.register .registerContainer .registerbox .inputbox div input::-moz-placeholder {
  text-align: center;
  font-size: 1.2rem;
}
.register .registerContainer .registerbox .inputbox div input:-ms-input-placeholder {
  text-align: center;
  font-size: 1.2rem;
}
.register .registerContainer .registerbox .inputbox div input::placeholder {
  text-align: center;
  font-size: 1.2rem;
}
.register .registerContainer .registerbox p {
  color: #ff8040;
  font-size: 1rem;
}
.register .registerContainer .registerbox button {
  margin: 1rem 0;
  padding: 0.25rem 2rem;
  border-radius: 12px;
  border: none;
  background-color: #00caca;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.register .registerContainer .registerbox button:hover {
  background-color: #00ffff;
  color: black;
}
.register .registerContainer p {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  color: white;
}
.register .registerContainer p a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.register .registerContainer p a:hover {
  color: #ff0000;
}
.register .registerContainer .message {
  text-align: center;
}
.register .registerContainer .message p {
  font-size: 2rem;
  color: #ff0000;
}

@media screen and (max-width: 500px) {
  .register {
    background-color: #5b5b5b;
  }
  .register .registerContainer .registerbox .inputbox {
    width: 100%;
  }
}
.collectionPictures {
  min-height: 83vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.collectionPictures .collectionPicture {
  margin: 1rem;
  width: 340px;
}
.collectionPictures .collectionPicture p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: black;
}
.collectionPictures .collectionPicture p i {
  color: #316eae;
}
.collectionPictures .collectionPicture p a {
  color: #8f9962;
  transition: all 0.3s ease;
}
.collectionPictures .collectionPicture p a:hover {
  color: #6ae268;
}
.collectionPictures .collectionPicture .collectionContainer {
  width: 340px;
  height: 340px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
.collectionPictures .collectionPicture .collectionContainer .love {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 4;
  font-size: 1.5rem;
  cursor: pointer;
}
.collectionPictures .collectionPicture .collectionContainer .love i {
  color: red;
}
.collectionPictures .collectionPicture .collectionContainer a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.collectionPictures .collectionPicture .collectionContainer a img:hover {
  transform: scale(1.3);
}/*# sourceMappingURL=style.css.map */