* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.loading {
  text-align: center;
  margin: 1rem 0;
  button {
    background-color: #82a0c2;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: #6383a7;
      border: 1px solid #f7a992;
    }
  }
}

@import "./nav";
@import "./footer";
@import "./picture";
@import "./search";
