* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Noto Sans TC", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.App {
  position: relative;
  background-color: #f0f0f0;
  .home {
    min-height: 83vh;
  }
}

.loading {
  text-align: center;
  margin: 1rem 0;
  button {
    background-color: #82a0c2;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: #6383a7;
      border: 1px solid #f7a992;
    }
  }
}

.topButton {
  position: fixed;
  bottom: 100px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(135, 135, 135, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgb(135, 135, 135);
    a {
      color: #ffbfbf;
    }
  }
  a {
    font-size: 2rem;
    padding: 2rem;
    color: white;
  }
}

//中文字體
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
//英文logo字體
@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");

@import "./nav";
@import "./footer";
@import "./picture";
@import "./search";
@import "./login";
@import "./register";
@import "./collectionPicture";
@import "./error404";
